<!DOCTYPE html>
<html lang='en'>
<head>
  
  <title>Hello world!</title>
<meta charset="utf-8">
<meta http-equiv="refresh" content="10"> 
</head>
<body>
<h1>Forex Data Visualization<h1>
<h1>Fig1: Analysis of a particular currency in a specified time range</h1>
<img src="{{url_for('static', filename='op1.png')}}"/>
<h1>Fig2: Change in value of currency(percentage) for selected year</h1>
<img src="{{url_for('static', filename='op2.png')}}"/>
<h1>Fig3: Consolidated analysis  of all the currencies on annual basis</h1>
<img src="{{url_for('static', filename='op3.png')}}"/>
</body>
</html>
